html {
    font-family: Helvetica;
    background-color: #ddd;
}

.container {
    background-color: #fff;
    max-width: 1100px;
    position: relative;
    margin:  50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
}

/*header*/
.header {
    text-align: center;
}

.main-title {
    font-size: 50px;
}

.main-paragraph {
    font-style: italic;
    font-size: 20px;
}

/*Imagem em destaque*/
.featured-image {
    text-align: center;
    margin-top: 30px;
}

/*Biografia*/
.biography-container {
    padding: 25px 0px;
    margin: 25px 0px;
    border-top: 2px dashed #ddd;
    border-bottom: 2px dashed #ddd;
}

/*Quotes*/
.quotes-container {
    background-color: #ddd;
    padding: 30px;
}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p {
    font-style: italic;
}

.curiosities-container {
    padding: 25px 0px;
    margin: 25px 0px;
    border-top: 2px dashed #ddd;
    border-bottom: 2px dashed #ddd;
}

.curiosities-container li {
    height: 30px;
}

/*Imagem bold*/
.img-bold {
    font-weight: bold;
    text-align: center;
}

/*Mais informações*/

.moreinfo-container {
    margin-top: 20px;
    font-size: 16px;
    border-top: 2px dashed #ddd;
    border-bottom: 2px dashed #ddd;
}